*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #1B071C;
  width: 85%;
  margin: 0 auto;
  padding-top: 4rem; }

a,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: #0052DF; }

h1,
h2 {
  font-family: 'MuseoModerno', cursive;
  display: flex;
  justify-content: flex-start; }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ai-c {
    align-items: center; }
  .flex-fd-c {
    flex-direction: column; }
  .flex-fd-r {
    flex-direction: row; }

.uppercase {
  text-transform: uppercase; }

.header .toggle {
  justify-content: flex-end; }

.header .toggle-img {
  height: 3rem; }

.hero {
  margin-top: 20%; }
  @media screen and (min-width: 64rem) {
    .hero {
      margin-top: 10%; } }
  .hero__intro {
    font-family: 'MuseoModerno', cursive;
    font-size: 3rem;
    line-height: 3.5rem; }
    @media screen and (min-width: 23.4375rem) {
      .hero__intro {
        font-size: 3.5rem;
        line-height: 4rem; } }
    @media screen and (min-width: 40rem) {
      .hero__intro {
        font-size: 5.3rem;
        line-height: 5.8rem; } }
    @media screen and (min-width: 64rem) {
      .hero__intro {
        width: 90%; } }
  .hero__nav {
    margin-top: 3rem; }
  .hero__nav-container {
    flex-direction: column; }
    @media screen and (min-width: 40rem) {
      .hero__nav-container {
        flex-direction: row; } }
  .hero__nav-links {
    padding: .3rem;
    font-size: 1.4rem; }
    @media screen and (min-width: 23.4375rem) {
      .hero__nav-links {
        font-size: 1.8rem; } }
    @media screen and (min-width: 40rem) {
      .hero__nav-links {
        margin-right: 2.4rem; } }
  .hero__arrow {
    margin-top: 10%;
    margin-left: 20%; }
    @media screen and (min-width: 40rem) {
      .hero__arrow {
        margin-top: 1.6rem;
        margin-left: 2.4rem; } }

.projects {
  margin-top: 25rem; }
  @media screen and (min-width: 40rem) {
    .projects {
      margin-top: 31.5rem; } }
  .projects__heading {
    font-size: 2rem;
    margin-bottom: 4rem; }
    @media screen and (min-width: 23.4375rem) {
      .projects__heading {
        font-size: 3rem; } }
  .projects__container {
    flex-direction: column; }
    @media screen and (min-width: 64rem) {
      .projects__container {
        flex-direction: row;
        width: 100%; } }
  .projects__card {
    width: 100%;
    font-size: 1.4rem;
    box-shadow: 0px 0px 14px 4px rgba(0, 49, 134, 0.2); }
    @media screen and (min-width: 64rem) {
      .projects__card {
        width: 30%;
        margin: 0 auto; } }
  .projects__card:not(:last-child) {
    margin-bottom: 6rem; }
    @media screen and (min-width: 64rem) {
      .projects__card:not(:last-child) {
        margin-bottom: 0; } }
  .projects__img {
    margin: 7% auto;
    width: 88%; }
  .projects__dsc {
    margin: 0 auto;
    width: 88%; }
    .projects__dsc-heading {
      font-size: 1.8rem; }
      @media screen and (min-width: 23.4375rem) {
        .projects__dsc-heading {
          font-size: 2rem; } }
    .projects__dsc-text {
      margin-top: .8rem;
      font-size: 1.4rem;
      line-height: 1.4;
      width: 100%; }
  .projects__tag-container {
    width: 60%; }
  .projects__tag {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase; }
  .projects__tag:not(:first-child) {
    margin-left: .8rem; }
  .projects__link-container {
    margin-top: 2rem;
    margin-bottom: 3.5rem; }
  .projects__link:not(:first-child) {
    margin-left: 1.6rem; }

.about {
  margin-top: 15rem; }
  .about__heading {
    font-size: 2rem;
    margin-bottom: 4rem; }
    @media screen and (min-width: 23.4375rem) {
      .about__heading {
        font-size: 3rem; } }
  .about__container {
    flex-direction: column; }
    @media screen and (min-width: 64rem) {
      .about__container {
        flex-direction: row-reverse;
        justify-content: space-between; } }
  .about__img {
    height: 36rem;
    width: 100%;
    object-fit: cover; }
    @media screen and (min-width: 40rem) {
      .about__img {
        height: 30rem;
        width: 100%;
        object-position: 50% 20%; } }
    @media screen and (min-width: 64rem) {
      .about__img {
        height: 100%;
        width: 40%; } }
  .about__txt-container {
    margin-top: 4rem;
    font-size: 1.4rem; }
    @media screen and (min-width: 64rem) {
      .about__txt-container {
        width: 50%;
        margin-top: 0; } }
  .about__txt:not(:first-child) {
    margin-top: 3.2rem; }
  .about__skills {
    margin-top: 4rem;
    margin-bottom: 1rem; }
    .about__skills-heading {
      font-size: 1.8rem; }
      @media screen and (min-width: 23.4375rem) {
        .about__skills-heading {
          font-size: 2.4rem; } }
    .about__skills-list {
      list-style: none;
      font-size: 1.4rem;
      padding-top: 1rem; }
      .about__skills-list .skills {
        padding-bottom: .3rem; }
    .about__skills-subheading {
      font-size: 1.4rem;
      margin-top: 3rem; }
  .about__resume {
    font-size: 1.8rem; }

.contact {
  margin: 15rem 0 3rem; }
  .contact__heading {
    font-size: 2rem;
    margin-bottom: 3rem; }
    @media screen and (min-width: 23.4375rem) {
      .contact__heading {
        font-size: 3rem; } }
  .contact__txt {
    font-size: 1.4rem; }
  .contact__social {
    margin-top: 3rem;
    width: 15.2rem; }
  .contact .copy {
    margin-top: 6.2rem;
    font-size: 1rem; }
