.hero {
  margin-top: 4rem;

  &__intro {
    font-family: 'MuseoModerno', cursive;
    font-size: $font-lrg;
    line-height: 3.5rem;
  }

  &__nav {
    margin-top: 3rem;
  }

  &__nav-links {
    padding: .3rem;
    font-size: $font-xsm;
  }

  &__arrow {
    margin-top: 10%;
    margin-left: 20%;
  }

}