// COLORS

$color-primary: #0052DF;
$color-black: #1B071C;
$color-white: #fff;

// FONT SIZE

$font-tag: 1.2rem;
$font-xsm: 1.4rem;
$font-dsk-txt: 1.6rem;
$font-sm: 1.8rem;
$font-med: 2rem;
$font-subheading: 2.4rem;
$font-lrg: 3rem;
$font-xlrg: 3.6rem;
$font-mb-hero: 3.5rem;
$font-tb-hero: 5.3rem;
$font-dsk-hero: 6rem;

// MARGIN

$heading-margin: 4rem;